/*
   MuteTab browser extension CSS

   Images can be found (and replaced) in img/audiosourcetypes, img/operations, img/states

   If you customize this, make sure that you make a backup of your changes.  When the extension is updated, you will need to redo them.
 */

/*html {height: 100%;}*/

body {
/*  height: 100% */
  font-family: sans-serif;
  margin:10px 0 10px 10px;
  white-space:nowrap; 
  background-color:white;
  font-size:12px; 
  overflow-x: hidden;
  min-width:475px;
}

.mutetabtoplinks {
   font-size:12px;
}

.mutetabbottomlinks {
   font-size:12px;
}

.tabType {
   font-size:14px;
   color:green;
}

.tabdesc, .tabdescblocked {
   color:black;
   text-overflow: ellipsis;
   max-width: 400px;
   overflow: hidden;
   white-space: nowrap;
   text-align: left;
   float: left;
}

.audiosourcedesc, .audiosourcedescblocked  {
   color:black;
   text-overflow: ellipsis;
   max-width: 450px;
   overflow: hidden;
   white-space: nowrap;
}


.tabdescblocked {
   color:gray;
}

.audiosourcedescblocked {
   color:gray;
}

.favicon {
  width:16px;
  height:16px;
}

.audiosourcetypeicon {
  width:12px;
  height:12px;
}

.tabexpandcollapseicon {
  width:8px;
  height:8px;
}

.taboperationicon {
  width:20px;
  height:20px;
  vertical-align: top;
  max-height:20px;
  max-width:20px;
}

.audiosourceoperationicon {
  width:16px;
  height:16px;
}

.button, .button:link
{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 6px;
    background-color: #36689b;
    color: #fff;
    font-size:11px;
}
.button:hover
{
    background-color: #6089b4;
}
hr
{
    clear: both;
}
