/*
   MuteTab browser extension options CSS

   If you customize this, make sure that you make a backup of your changes.  When the extension is updated, you will need to redo them.
 */

body {
  margin:20px;
  white-space:nowrap;
  //background-image:url('popup/bgimage/clouds.jpg'); /* You can find tileable background images at http://subtlepatterns.com/ */

  background-repeat:repeat;
  font-size:12px; 
}

.optionstitle {
  font-size:24px;
  font-weight:bold;
  color:black;
}

.optionscategory {
   font-size:16px;
   color:black;
}

.optionname {
   color:black;
}

.optiondisabled {
   color:grey;
}
